<h4 class="py-2">Reserve your first edition print right now</h4>

<div class="input-group mb-3 w-100">
  <%= form_for @user, :url => { :action => "create" } do |f| %>
    <%= f.text_field :email, :placeholder => "Enter Email", :class => "email form-control", html: {'aria-describedby': "basic-addon2"} %>
    <button class="btn btn-outline-light" type="submit" id="button-addon2">Step Inside</button>
  <% end %>
</div>
